body {	
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #f7f5f2;
}


a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}
. navbar {
    color:red;
}

.container {
    height: 300px;
    width:100%;
    margin: 0px auto;
    overflow: hidden;
    border: 10px solid rgba(255, 255, 255, 0.5);
}
